[submodule "wp-content/themes/bars2013/js/fancybox"]
	path = wp-content/themes/bars2013/js/fancybox
	url = https://github.com/fancyapps/fancyBox.git
[submodule "wordpress"]
	path = wordpress
	url = https://github.com/WordPress/WordPress.git
