.htwaccess
node_modules
vendor
tmp
composer.phar
composer.lock
wp-content/uploads
wp-content/upgrade
wp-content/themes/index.php
wp-content/themes/bars2013
wp-content/themes/twentythirteen
wp-content/debug.log
css/sprites.css
