/* Form & Input layout */
#page-contact form#contact-form table { border-color: transparent; border-spacing: 20px; }
#page-contact form#contact-form .contact-form-input > * { vertical-align: top; }
#page-contact form#contact-form .contact-form-input .contact-form-input-label { width: 100px; text-align: right; }
#page-contact form#contact-form .contact-form-input .contact-form-input-label.required:before { content: '*'; font-weight: bold; color: red; margin: 0 8px 0 0; }

#page-contact form#contact-form #name input,
#page-contact form#contact-form #email input,
#page-contact form#contact-form #media input,
#page-contact form#contact-form #subject input { width: 350px; }

#page-contact form#contact-form #message textarea { width: 350px; height: 150px; }
#page-contact form#contact-form .contact-form-input-hint { text-align: right; }

/* Input styling */
#page-contact form#contact-form input, #page-contact form#contact-form textarea { font-family: 'Open Sans'; font-size: 10pt; margin: 0; padding: 7px; }
#page-contact form#contact-form #submit input { padding: 10px; }

/* Validation messages styling */
#page-contact form#contact-form .contact-form-input input.error,
#page-contact form#contact-form .contact-form-input textarea.error { border-color: red; }
#page-contact form#contact-form .contact-form-input label.error { float: left; vertical-align: top; padding: 5px 10px; color: red; }

/* Shadow transition on focus*/
#page-contact form input[type=text], textarea { outline: none; padding: 3px 0px 3px 3px; margin: 5px 1px 3px 0px; border: 1px solid #DDDDDD;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
}
 
#page-contact form input[type=text]:focus, textarea:focus { box-shadow: 0 0 10px red; padding: 3px 0px 3px 3px; margin: 5px 1px 3px 0px; border: 1px solid rgba(81, 203, 238, 1); }

