/* Links */
a { color: rgb(255,97,0); text-decoration: none; }
a:hover { text-decoration: underline; }

/* Header menu */
#header-menu .nav-menu ul li a { padding: 8px; }
#header-menu .nav-menu ul li:hover { background-color: rgb(36, 31, 31); }
#header-menu .nav-menu ul li a:link,
#header-menu .nav-menu ul li a:visited,
#header-menu .nav-menu ul li a:hover,
#header-menu .nav-menu ul li a:active { background: none; font-style: normal; text-decoration: none; font-weight: normal; color: white; }
#header-menu .nav-menu ul li.current_page_item { background-color: rgb(175, 0, 0); font-size: 1.1em; }

/* Home (index.php) */
.posts .post .post-footer .post-comment-count a { text-decoration: none; color: white; }
.posts .post .post-title a { color: rgb(255,0,0); }

/* Single (single.php) */
#page-single .post-previous a:hover,
#page-single .post-next a:hover { text-decoration: none; }

/* Movie block */
.movieblock .movie-selectors .movie-post:hover a { text-decoration: none; color: white; }
.movieblock .movie-selectors .movie-post a { text-decoration: none; color: #bbbbbb; }