/* Festival edition ribbon */
#festival-ribbon { position: absolute; top: 0; left: 50%; }

#festival-ribbon div { margin-bottom: 0; }
#festival-ribbon .festival-cinemas { margin-top: 30px; padding-bottom: 10px; }
#festival-ribbon div, #festival-ribbon .festival-cinemas { font-size: 12px; text-shadow: 1px 1px 0px black; color: white; }
#festival-ribbon .festival-starting { font-size: 18px; text-shadow: 1px 1px 0px #DDDDDD; color: black; }
#festival-ribbon .festival-starting { text-align: center; font-weight: bold; }
#festival-ribbon .festival-opening, #festival-ribbon .festival-closing, #festival-ribbon .festival-to { text-align: center; }
#festival-ribbon .festival-opening { float: left; margin-left: 5px; }
#festival-ribbon .festival-closing { float: right; margin-right: 5px; }
#festival-ribbon .festival-to div { font-size: 18px; }
#festival-ribbon .festival-opening div:nth-child(1), #festival-ribbon .festival-closing div:nth-child(1) { font-size: 14px; }
#festival-ribbon .festival-opening div:nth-child(2), #festival-ribbon .festival-closing div:nth-child(2) { font-size: 36px; font-weight: bold; line-height: 30px; }
#festival-ribbon .festival-opening div:nth-child(3), #festival-ribbon .festival-closing div:nth-child(3) { font-size: 14px; font-weight: bold; line-height: 20px; }

#festival-ribbon .ribbon-container { position: relative; left: 240px; overflow: hidden; }
#festival-ribbon .container, #festival-ribbon .base { width: 175px; height: auto; }
#festival-ribbon .left_dashes { position: absolute; z-index: 999; top: 0; width: 164px; left: 5px; height: 180px; border-left: 1px dashed #631a15; border-right: 1px dashed #631a15; }
#festival-ribbon .right_dashes { position: absolute; z-index: 99; top: 0; width: 164px; left: 6px; height: 180px; border-left: 1px dashed #da5050; border-right: 1px dashed #da5050; }
#festival-ribbon .borders { position: absolute; z-index: 99; top: 0; width: 100%; height: 180px; border-left: 1px solid #631a15; border-bottom: 1px solid #631a15; border-right: 1px solid #631a15; }
#festival-ribbon .container { position: relative; overflow: hidden; margin: 0 auto; }
#festival-ribbon .base { position: relative; z-index: 2; padding: 5px 12px 0 12px;
	background: rgb(240,59,60);
	background: -moz-linear-gradient(top,  rgba(240,25,25,1) 0%, rgba(184,32,31,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,59,60,1)), color-stop(100%,rgba(184,32,31,1)));
	background: -webkit-linear-gradient(top,  rgba(240,25,25,1) 0%,rgba(184,32,31,1) 100%);
	background: -o-linear-gradient(top,  rgba(240,25,25,1) 0%,rgba(184,32,31,1) 100%);
	background: -ms-linear-gradient(top,  rgba(240,25,25,1) 0%,rgba(184,32,31,1) 100%);
	background: linear-gradient(top,  rgba(240,25,25,1) 0%,rgba(184,32,31,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c73b3c', endColorstr='#b8201f',GradientType=0 );
}