#auspiciantes { text-align: center !important; overflow: hidden; width: 100%; margin: 0 auto; }
.auspiciante {margin: 20px; width:140px; height:80px; display:inline-block; overflow:hidden; background-repeat: no-repeat;background:url("../images/auspiciantes/auspiciantes_gray.png");}
.auspiciante a { display: block; height: 100%; width: 100%; }
.auspiciante:hover { background-image: url("../images/auspiciantes/auspiciantes.png"); }

.auspiciante_ab {background-position: -854px -166px}
.auspiciante_bsasciudad {background-position: -712px -166px}
.auspiciante_campari {background-position: -570px -330px}
.auspiciante_cinefania {background-position: -570px -248px}
.auspiciante_cinesargentinos {background-position: -570px -166px}
.auspiciante_cunnington {background-position: -854px -84px}
.auspiciante_eda {background-position: -712px -84px}
.auspiciante_fantafestivales {background-position: -570px -84px}
.auspiciante_festeringslime {background-position: -854px -2px}
.auspiciante_filmoteca {background-position: -712px -2px}
.auspiciante_findlingfilms {background-position: -570px -2px}
.auspiciante_incaa {background-position: -428px -330px}
.auspiciante_lacripta {background-position: -428px -248px}
.auspiciante_leotripi {background-position: -428px -166px}
.auspiciante_metamorfosisfx {background-position: -428px -84px}
.auspiciante_monumental {background-position: -428px -2px}
.auspiciante_mostaza {background-position: -286px -330px}
.auspiciante_nacionalrock {background-position: -286px -248px}
.auspiciante_piromaniafx {background-position: -286px -166px}
.auspiciante_planetarycomics {background-position: -286px -84px}
.auspiciante_quintadimension {background-position: -286px -2px}
.auspiciante_rafma {background-position: -144px -330px}
.auspiciante_rarovhs {background-position: -144px -248px}
.auspiciante_rentalbsas {background-position: -144px -166px}
.auspiciante_requiem {background-position: -144px -84px}
.auspiciante_sony {background-position: -144px -2px}
.auspiciante_syfy {background-position: -2px -330px}
.auspiciante_ticoral {background-position: -2px -248px}
.auspiciante_toronja {background-position: -2px -166px}
.auspiciante_vacomoloco {background-position: -2px -84px}
.auspiciante_videoflims {background-position: -2px -2px}


/* Auspiciantes */
/*
body.page.page-template-template-auspiciantes-php 

body.page.page-template-template-auspiciantes-php .auspiciantes-quintadimension { background: url("images/auspiciantes/auspiciantes_quintadimension.png"); }
body.page.page-template-template-auspiciantes-php .auspiciantes-incaa { background: url("images/auspiciantes/auspiciantes_incaa.png"); }
body.page.page-template-template-auspiciantes-php .auspiciantes-videoflims { background: url("images/auspiciantes/auspiciantes_videoflims.png"); }
body.page.page-template-template-auspiciantes-php .auspiciantes-findlingfilms { background: url("images/auspiciantes/auspiciantes_findlingfilms.png"); }
body.page.page-template-template-auspiciantes-php .auspiciantes-monumental { background: url("images/auspiciantes/auspiciantes_monumental.png"); }
body.page.page-template-template-auspiciantes-php .auspiciantes-cinesargentinos { background: url("images/auspiciantes/auspiciantes_cinesargentinos.png"); }
body.page.page-template-template-auspiciantes-php .auspiciantes-mostaza { background: url("images/auspiciantes/auspiciantes_mostaza.png"); }
body.page.page-template-template-auspiciantes-php .auspiciantes-cunnington { background: url("images/auspiciantes/auspiciantes_cunnington.png"); }
body.page.page-template-template-auspiciantes-php .auspiciantes-campari { background: url("images/auspiciantes/auspiciantes_campari.png"); }
body.page.page-template-template-auspiciantes-php .auspiciantes-sony { background: url("images/auspiciantes/auspiciantes_sony.png"); }
body.page.page-template-template-auspiciantes-php .auspiciantes-syfy { background: url("images/auspiciantes/auspiciantes_syfy.png"); }
body.page.page-template-template-auspiciantes-php .auspiciantes-nacionalrock { background: url("images/auspiciantes/auspiciantes_nacionalrock.png"); }
body.page.page-template-template-auspiciantes-php .auspiciantes-filmoteca { background: url("images/auspiciantes/auspiciantes_filmoteca.png"); }
body.page.page-template-template-auspiciantes-php .auspiciantes-rarovhs { background: url("images/auspiciantes/auspiciantes_rarovhs.png"); }
body.page.page-template-template-auspiciantes-php .auspiciantes-piromaniafx { background: url("images/auspiciantes/auspiciantes_piromaniafx.png"); }
body.page.page-template-template-auspiciantes-php .auspiciantes-planetarycomics { background: url("images/auspiciantes/auspiciantes_planetarycomics.png"); }
body.page.page-template-template-auspiciantes-php .auspiciantes-rentalbsas { background: url("images/auspiciantes/auspiciantes_rentalbsas.png"); }
body.page.page-template-template-auspiciantes-php .auspiciantes-ticoral { background: url("images/auspiciantes/auspiciantes_ticoral.png"); }
body.page.page-template-template-auspiciantes-php .auspiciantes-eda{ background: url("images/auspiciantes/auspiciantes_eda.png"); }
body.page.page-template-template-auspiciantes-php .auspiciantes-ab { background: url("images/auspiciantes/auspiciantes_ab.png"); }
body.page.page-template-template-auspiciantes-php .auspiciantes-vacomoloco { background: url("images/auspiciantes/auspiciantes_vacomoloco.png"); }
body.page.page-template-template-auspiciantes-php .auspiciantes-toronja { background: url("images/auspiciantes/auspiciantes_toronja.png"); }
body.page.page-template-template-auspiciantes-php .auspiciantes-leotripi { background: url("images/auspiciantes/auspiciantes_leotripi.png"); }
body.page.page-template-template-auspiciantes-php .auspiciantes-festeringslime { background: url("images/auspiciantes/auspiciantes_festeringslime.png"); }
body.page.page-template-template-auspiciantes-php .auspiciantes-metamorfosisfx { background: url("images/auspiciantes/auspiciantes_metamorfosisfx.png"); }
body.page.page-template-template-auspiciantes-php .auspiciantes-bsasciudad { background: url("images/auspiciantes/auspiciantes_bsasciudad.png"); }
body.page.page-template-template-auspiciantes-php .auspiciantes-rafma { background: url("images/auspiciantes/auspiciantes_rafma.png"); }
body.page.page-template-template-auspiciantes-php .auspiciantes-fantafestivales { background: url("images/auspiciantes/auspiciantes_fantafestivales.png"); }
body.page.page-template-template-auspiciantes-php .auspiciantes-cinefania { background: url("images/auspiciantes/auspiciantes_cinefania.png"); }
body.page.page-template-template-auspiciantes-php .auspiciantes-requiem { background: url("images/auspiciantes/auspiciantes_requiem.png"); }
body.page.page-template-template-auspiciantes-php .auspiciantes-lacripta { background: url("images/auspiciantes/auspiciantes_lacripta.png"); }*/

