.header-image {
  width: 350px; height: 119px; margin: 6px auto 0 auto;
  background-image: url('../images/header.png');
  &:hover { cursor: pointer; }
}

.footer-logos {
  overflow: hidden; position: relative;

  .footer-image {
    width: 276px; height: 53px; margin: 0 auto;
    background-image: url('../images/footer_logo.png');
  }

  .footer-festering-slime {
    width: 112px; height: 53px;
    position: absolute; right: 0; top: 0;
    background-image: url('../images/festeringslime.png');
    &:hover { background-image: url('../images/hover_festeringslime.png'); }
  }
}

.bars-widget-logo {
  width: 29px; height: 29px;
  background-image: url('../images/loguito.png');
}
