.sponsors {
  text-align: center; overflow: hidden; width: 100%; margin: 0 auto;

  .sponsor {
    margin: 20px 35px 0 35px;
    width: 140px;
    height: 80px;
    display: inline-block;
    a { display: block; height: 100%; width: 100%; }
  }

  .sponsor-osde {
    width: 300px;
  }

  .sponsor-ab                    { background-image: url('../images/sponsors/auspiciante_ab_hover.png'); }
  .sponsor-bsasciudad            { background-image: url('../images/sponsors/auspiciante_bsasciudad_hover.png'); }
  .sponsor-campari               { background-image: url('../images/sponsors/auspiciante_campari_hover.png'); }
  .sponsor-cinefania             { background-image: url('../images/sponsors/auspiciante_cinefania_hover.png'); }
  .sponsor-circodelhorror        { background-image: url('../images/sponsors/auspiciante_circodelhorror_hover.png'); }
  .sponsor-cunnington            { background-image: url('../images/sponsors/auspiciante_cunnington_hover.png'); }
  .sponsor-eda                   { background-image: url('../images/sponsors/auspiciante_eda_hover.png'); }
  .sponsor-fantafestivales       { background-image: url('../images/sponsors/auspiciante_fantafestivales_hover.png'); }
  .sponsor-festeringslime        { background-image: url('../images/sponsors/auspiciante_festeringslime_hover.png'); }
  .sponsor-filmsharks            { background-image: url('../images/sponsors/auspiciante_filmsharks_hover.png'); }
  .sponsor-findlingfilms         { background-image: url('../images/sponsors/auspiciante_findlingfilms_hover.png'); }
  .sponsor-flaviogrecopaglia     { background-image: url('../images/sponsors/auspiciante_flaviogrecopaglia_hover.png'); }
  .sponsor-illusiondreamsfx      { background-image: url('../images/sponsors/auspiciante_illusiondreamsfx_hover.png'); }
  .sponsor-incaa                 { background-image: url('../images/sponsors/auspiciante_incaa_hover.png'); }
  .sponsor-incaagerencia         { background-image: url('../images/sponsors/auspiciante_incaagerencia_hover.png'); }
  .sponsor-lacripta              { background-image: url('../images/sponsors/auspiciante_lacripta_hover.png'); }
  .sponsor-metamorfosisfx        { background-image: url('../images/sponsors/auspiciante_metamorfosisfx_hover.png'); }
  .sponsor-multiplex             { background-image: url('../images/sponsors/auspiciante_multiplex_hover.png'); }
  .sponsor-nacionalrock          { background-image: url('../images/sponsors/auspiciante_nacionalrock_hover.png'); }
  .sponsor-piromaniafx           { background-image: url('../images/sponsors/auspiciante_piromaniafx_hover.png'); }
  .sponsor-quintadimension       { background-image: url('../images/sponsors/auspiciante_quintadimension_hover.png'); }
  .sponsor-rafma                 { background-image: url('../images/sponsors/auspiciante_rafma_hover.png'); }
  .sponsor-rentalbsas            { background-image: url('../images/sponsors/auspiciante_rentalbsas_hover.png'); }
  .sponsor-requiem               { background-image: url('../images/sponsors/auspiciante_requiem_hover.png'); }
  .sponsor-ticoral               { background-image: url('../images/sponsors/auspiciante_ticoral_hover.png'); }
  .sponsor-toronja               { background-image: url('../images/sponsors/auspiciante_toronja_hover.png'); }
  .sponsor-vacomoloco            { background-image: url('../images/sponsors/auspiciante_vacomoloco_hover.png'); }
  .sponsor-videoflims            { background-image: url('../images/sponsors/auspiciante_videoflims_hover.png'); }
  .sponsor-wancamp               { background-image: url('../images/sponsors/auspiciante_wancamp_hover.png'); }
  .sponsor-aclf                  { background-image: url('../images/sponsors/auspiciante_aclf_hover.png'); }
  .sponsor-apima                 { background-image: url('../images/sponsors/auspiciante_apima_hover.png'); }
  .sponsor-marginadoproducciones { background-image: url('../images/sponsors/auspiciante_marginadoproducciones_hover.png'); }
  .sponsor-mdpff                 { background-image: url('../images/sponsors/auspiciante_mdpff_hover.png'); }
  .sponsor-rebisfx               { background-image: url('../images/sponsors/auspiciante_rebisfx_hover.png'); }
  .sponsor-picsi                 { background-image: url('../images/sponsors/auspiciante_picsi_hover.png'); }
  .sponsor-osde                  { background-image: url('../images/sponsors/auspiciante_osde_hover.png'); }
  .sponsor-guiar                 { background-image: url('../images/sponsors/auspiciante_guiar_hover.png'); }
  .sponsor-manicomiodelterror    { background-image: url('../images/sponsors/auspiciante_manicomio_del_terror_hover.png'); }
  .sponsor-purga                 { background-image: url('../images/sponsors/auspiciante_purga_hover.png'); }
  .sponsor-argentores            { background-image: url('../images/sponsors/auspiciante_argentores_hover.png'); }
  .sponsor-embajada-espana       { background-image: url('../images/sponsors/auspiciante_embajada_espana_hover.png'); }
  .sponsor-insomnio              { background-image: url('../images/sponsors/auspiciante_insomnio_hover.png'); }
  .sponsor-cfyb                  { background-image: url('../images/sponsors/auspiciante_cfyb_hover.png'); }
  .sponsor-fan                   { background-image: url('../images/sponsors/auspiciante_fan_hover.png'); }
  .sponsor-tvcortos              { background-image: url('../images/sponsors/auspiciante_tvcortos_hover.png'); }
  .sponsor-monster-flex          { background-image: url('../images/sponsors/auspiciante_monster_flex_hover.png'); }
  .sponsor-netfis                { background-image: url('../images/sponsors/auspiciante_netfis_hover.png'); }
  .sponsor-global-media          { background-image: url('../images/sponsors/auspiciante_global_media_hover.png'); }
  .sponsor-brujas                { background-image: url('../images/sponsors/auspiciante_brujas.png'); }
  .sponsor-museo-sarmiento       { background-image: url('../images/sponsors/auspiciante_museo_sarmiento.png'); }
  .sponsor-pintafan              { background-image: url('../images/sponsors/auspiciante_pintafan.png'); }
|
  .sponsor-ab:hover                    { background-image: url('../images/sponsors/auspiciante_ab.png'); }
  .sponsor-bsasciudad:hover            { background-image: url('../images/sponsors/auspiciante_bsasciudad.png'); }
  .sponsor-campari:hover               { background-image: url('../images/sponsors/auspiciante_campari.png'); }
  .sponsor-cinefania:hover             { background-image: url('../images/sponsors/auspiciante_cinefania.png'); }
  .sponsor-circodelhorror:hover        { background-image: url('../images/sponsors/auspiciante_circodelhorror.png'); }
  .sponsor-cunnington:hover            { background-image: url('../images/sponsors/auspiciante_cunnington.png'); }
  .sponsor-eda:hover                   { background-image: url('../images/sponsors/auspiciante_eda.png'); }
  .sponsor-fantafestivales:hover       { background-image: url('../images/sponsors/auspiciante_fantafestivales.png'); }
  .sponsor-festeringslime:hover        { background-image: url('../images/sponsors/auspiciante_festeringslime.png'); }
  .sponsor-filmsharks:hover            { background-image: url('../images/sponsors/auspiciante_filmsharks.png'); }
  .sponsor-findlingfilms:hover         { background-image: url('../images/sponsors/auspiciante_findlingfilms.png'); }
  .sponsor-flaviogrecopaglia:hover     { background-image: url('../images/sponsors/auspiciante_flaviogrecopaglia.png'); }
  .sponsor-illusiondreamsfx:hover      { background-image: url('../images/sponsors/auspiciante_illusiondreamsfx.png'); }
  .sponsor-incaa:hover                 { background-image: url('../images/sponsors/auspiciante_incaa.png'); }
  .sponsor-incaagerencia:hover         { background-image: url('../images/sponsors/auspiciante_incaagerencia.png'); }
  .sponsor-lacripta:hover              { background-image: url('../images/sponsors/auspiciante_lacripta.png'); }
  .sponsor-metamorfosisfx:hover        { background-image: url('../images/sponsors/auspiciante_metamorfosisfx.png'); }
  .sponsor-multiplex:hover             { background-image: url('../images/sponsors/auspiciante_multiplex.png'); }
  .sponsor-nacionalrock:hover          { background-image: url('../images/sponsors/auspiciante_nacionalrock.png'); }
  .sponsor-piromaniafx:hover           { background-image: url('../images/sponsors/auspiciante_piromaniafx.png'); }
  .sponsor-quintadimension:hover       { background-image: url('../images/sponsors/auspiciante_quintadimension.png'); }
  .sponsor-rafma:hover                 { background-image: url('../images/sponsors/auspiciante_rafma.png'); }
  .sponsor-rentalbsas:hover            { background-image: url('../images/sponsors/auspiciante_rentalbsas.png'); }
  .sponsor-requiem:hover               { background-image: url('../images/sponsors/auspiciante_requiem.png'); }
  .sponsor-ticoral:hover               { background-image: url('../images/sponsors/auspiciante_ticoral.png'); }
  .sponsor-toronja:hover               { background-image: url('../images/sponsors/auspiciante_toronja.png'); }
  .sponsor-vacomoloco:hover            { background-image: url('../images/sponsors/auspiciante_vacomoloco.png'); }
  .sponsor-videoflims:hover            { background-image: url('../images/sponsors/auspiciante_videoflims.png'); }
  .sponsor-wancamp:hover               { background-image: url('../images/sponsors/auspiciante_wancamp.png'); }
  .sponsor-aclf:hover                  { background-image: url('../images/sponsors/auspiciante_aclf.png'); }
  .sponsor-apima:hover                 { background-image: url('../images/sponsors/auspiciante_apima.png'); }
  .sponsor-marginadoproducciones:hover { background-image: url('../images/sponsors/auspiciante_marginadoproducciones.png'); }
  .sponsor-mdpff:hover                 { background-image: url('../images/sponsors/auspiciante_mdpff.png'); }
  .sponsor-rebisfx:hover               { background-image: url('../images/sponsors/auspiciante_rebisfx.png'); }
  .sponsor-picsi:hover                 { background-image: url('../images/sponsors/auspiciante_picsi.png'); }
  .sponsor-osde:hover                  { background-image: url('../images/sponsors/auspiciante_osde.png'); }
  .sponsor-guiar:hover                 { background-image: url('../images/sponsors/auspiciante_guiar.png'); }
  .sponsor-manicomiodelterror:hover    { background-image: url('../images/sponsors/auspiciante_manicomio_del_terror.png'); }
  .sponsor-purga:hover                 { background-image: url('../images/sponsors/auspiciante_purga.png'); }
  .sponsor-argentores:hover            { background-image: url('../images/sponsors/auspiciante_argentores.png'); }
  .sponsor-embajada-espana:hover       { background-image: url('../images/sponsors/auspiciante_embajada_espana.png'); }
  .sponsor-insomnio:hover              { background-image: url('../images/sponsors/auspiciante_insomnio.png'); }
  .sponsor-cfyb:hover                  { background-image: url('../images/sponsors/auspiciante_cfyb.png'); }
  .sponsor-fan:hover                   { background-image: url('../images/sponsors/auspiciante_fan.png'); }
  .sponsor-tvcortos:hover              { background-image: url('../images/sponsors/auspiciante_tvcortos.png'); }
  .sponsor-monster-flex:hover          { background-image: url('../images/sponsors/auspiciante_monster_flex.png'); }
  .sponsor-netfis:hover                { background-image: url('../images/sponsors/auspiciante_netfis.png'); }
  .sponsor-global-media:hover          { background-image: url('../images/sponsors/auspiciante_global_media.png'); }
  .sponsor-brujas:hover                { background-image: url('../images/sponsors/auspiciante_brujas_hover.png'); }
  .sponsor-museo-sarmiento:hover       { background-image: url('../images/sponsors/auspiciante_museo_sarmiento_hover.png'); }
  .sponsor-pintafan:hover              { background-image: url('../images/sponsors/auspiciante_pintafan_hover.png'); }

}
