.sponsors {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

  .sponsor {
    margin: 20px 35px 0 35px;
    width: 140px;
    height: 80px;
    a { display: block; height: 100%; width: 100%; }

    // filters: gray-scale + opacity
    filter: gray opacity(70%); /* IE6-9 */
    -webkit-filter: grayscale(1) opacity(70%); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1) opacity(70%); /* Microsoft Edge and Firefox 35+ */

    &:hover {
      -webkit-filter: grayscale(0) opacity(100%);
      filter: none;
    }
  }

  .sponsor-osde {
    width: 300px;
  }

  .sponsor-ab                    { background-image: url('../images/sponsors/auspiciante_ab.png'); }
  .sponsor-bsasciudad            { background-image: url('../images/sponsors/auspiciante_bsasciudad.png'); }
  .sponsor-campari               { background-image: url('../images/sponsors/auspiciante_campari.png'); }
  .sponsor-cinefania             { background-image: url('../images/sponsors/auspiciante_cinefania.png'); }
  .sponsor-circodelhorror        { background-image: url('../images/sponsors/auspiciante_circodelhorror.png'); }
  .sponsor-cunnington            { background-image: url('../images/sponsors/auspiciante_cunnington.png'); }
  .sponsor-eda                   { background-image: url('../images/sponsors/auspiciante_eda.png'); }
  .sponsor-fantafestivales       { background-image: url('../images/sponsors/auspiciante_fantafestivales.png'); }
  .sponsor-filmsharks            { background-image: url('../images/sponsors/auspiciante_filmsharks.png'); }
  .sponsor-findlingfilms         { background-image: url('../images/sponsors/auspiciante_findlingfilms.png'); }
  .sponsor-flaviogrecopaglia     { background-image: url('../images/sponsors/auspiciante_flaviogrecopaglia.png'); }
  .sponsor-illusiondreamsfx      { background-image: url('../images/sponsors/auspiciante_illusiondreamsfx.png'); }
  .sponsor-incaa                 { background-image: url('../images/sponsors/auspiciante_incaa.png'); }
  .sponsor-incaagerencia         { background-image: url('../images/sponsors/auspiciante_incaagerencia.png'); }
  .sponsor-lacripta              { background-image: url('../images/sponsors/auspiciante_lacripta.png'); }
  .sponsor-metamorfosisfx        { background-image: url('../images/sponsors/auspiciante_metamorfosisfx.png'); }
  .sponsor-multiplex             { background-image: url('../images/sponsors/auspiciante_multiplex.png'); }
  .sponsor-nacionalrock          { background-image: url('../images/sponsors/auspiciante_nacionalrock.png'); }
  .sponsor-piromaniafx           { background-image: url('../images/sponsors/auspiciante_piromaniafx.png'); }
  .sponsor-quintadimension       { background-image: url('../images/sponsors/auspiciante_quintadimension.png'); }
  .sponsor-rafma                 { background-image: url('../images/sponsors/auspiciante_rafma.png'); }
  .sponsor-rentalbsas            { background-image: url('../images/sponsors/auspiciante_rentalbsas.png'); }
  .sponsor-requiem               { background-image: url('../images/sponsors/auspiciante_requiem.png'); }
  .sponsor-ticoral               { background-image: url('../images/sponsors/auspiciante_ticoral.png'); }
  .sponsor-toronja               { background-image: url('../images/sponsors/auspiciante_toronja.png'); }
  .sponsor-vacomoloco            { background-image: url('../images/sponsors/auspiciante_vacomoloco.png'); }
  .sponsor-videoflims            { background-image: url('../images/sponsors/auspiciante_videoflims.png'); }
  .sponsor-wancamp               { background-image: url('../images/sponsors/auspiciante_wancamp.png'); }
  .sponsor-aclf                  { background-image: url('../images/sponsors/auspiciante_aclf.png'); }
  .sponsor-apima                 { background-image: url('../images/sponsors/auspiciante_apima.png'); }
  .sponsor-marginado             { background-image: url('../images/sponsors/auspiciante_marginado.png'); }
  .sponsor-mdpff                 { background-image: url('../images/sponsors/auspiciante_mdpff.png'); }
  .sponsor-rebisfx               { background-image: url('../images/sponsors/auspiciante_rebisfx.png'); }
  .sponsor-picsi                 { background-image: url('../images/sponsors/auspiciante_picsi.png'); }
  .sponsor-osde                  { background-image: url('../images/sponsors/auspiciante_osde.png'); }
  .sponsor-guiar                 { background-image: url('../images/sponsors/auspiciante_guiar.png'); }
  .sponsor-manicomiodelterror    { background-image: url('../images/sponsors/auspiciante_manicomio_del_terror.png'); }
  .sponsor-purga                 { background-image: url('../images/sponsors/auspiciante_purga.png'); }
  .sponsor-argentores            { background-image: url('../images/sponsors/auspiciante_argentores.png'); }
  .sponsor-embajada-espana       { background-image: url('../images/sponsors/auspiciante_embajada_espana.png'); }
  .sponsor-insomnio              { background-image: url('../images/sponsors/auspiciante_insomnio.png'); }
  .sponsor-cfyb                  { background-image: url('../images/sponsors/auspiciante_cfyb.png'); }
  .sponsor-fan                   { background-image: url('../images/sponsors/auspiciante_fan.png'); }
  .sponsor-tvcortos              { background-image: url('../images/sponsors/auspiciante_tvcortos.png'); }
  .sponsor-monster-flex          { background-image: url('../images/sponsors/auspiciante_monster_flex.png'); }
  .sponsor-neftis                { background-image: url('../images/sponsors/auspiciante_neftis.png'); }
  .sponsor-global-media          { background-image: url('../images/sponsors/auspiciante_global_media.png'); }
  .sponsor-brujas                { background-image: url('../images/sponsors/auspiciante_brujas_hover.png'); }
  .sponsor-museo-sarmiento       { background-image: url('../images/sponsors/auspiciante_museo_sarmiento_hover.png'); }
  .sponsor-pintafan              { background-image: url('../images/sponsors/auspiciante_pintafan_hover.png'); }
  .sponsor-brigada-problematica  { background-image: url('../images/sponsors/auspiciante_brigada_problematica.png'); }
  .sponsor-yubari-festival       { background-image: url('../images/sponsors/auspiciante_yubari_festival.png'); }
  .sponsor-okinawa-film-office   { background-image: url('../images/sponsors/auspiciante_okinawa_film_office.png'); }
  .sponsor-felices-las-vacas     { background-image: url('../images/sponsors/auspiciante_felices_las_vacas.png'); }
  .sponsor-no-pain-tattoos       { background-image: url('../images/sponsors/auspiciante_no_pain_tattoos.png'); }
  .sponsor-contar                { background-image: url('../images/sponsors/auspiciante_contar.png'); }
  .sponsor-flixxo                { background-image: url('../images/sponsors/auspiciante_flixxo.png'); }
  .sponsor-ba-audiovisual        { background-image: url('../images/sponsors/auspiciante_ba_audiovisual.png'); }
  .sponsor-akataka               { background-image: url('../images/sponsors/auspiciante_akataka.png'); }
  .sponsor-enchulame-la-camara   { background-image: url('../images/sponsors/auspiciante_enchulame_la_camara.png'); }
  .sponsor-fant-latam            { background-image: url('../images/sponsors/auspiciante_fant_latam.png'); }

  // non clickable sponsors
  .sponsor-mecenazgo-cultural    { background-image: url('../images/sponsors/auspiciante_mecenazgo_cultural.png'); }
  .sponsor-festeringslime        { background-image: url('../images/sponsors/auspiciante_festeringslime.png'); }
  .sponsor-ministerio-de-cultura { background-image: url('../images/sponsors/auspiciante_ministerio_de_cultura.png'); }
}
