.sponsors {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

  .sponsor {
    margin: 20px 35px 0 35px;
    width: 140px;
    height: 80px;
    a {
      display: block;
      height: 100%;
      width: 100%;
    }

    // filters: gray-scale + opacity
    filter: gray opacity(70%); /* IE6-9 */
    -webkit-filter: grayscale(1) opacity(70%); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1) opacity(70%); /* Microsoft Edge and Firefox 35+ */

    &:hover {
      -webkit-filter: grayscale(0) opacity(100%);
      filter: none;
    }
  }
}
