<IfModule mod_rewrite.c>
  # BEGIN exclusivo.jedbangers.com.ar
  RewriteCond %{HTTP_HOST} ^exclusivo\.jedbangers\.com\.ar [NC]
  RewriteRule (.*) http://jedbangers-exclusive-content.herokuapp.com/redeem [L,R=301]
  # END exclusivo.jedbangers.com.ar

  # BEGIN tienda.jedbangers.com.ar
  # Redirect 301 /tienda https://jedbangers.mitiendanube.com
  # RewriteCond %{HTTP_HOST} ^tienda\.jedbangers\.com\.ar [NC]
  # RewriteRule (.*) https://jedbangers.mitiendanube.com [L,R=301]
  # END tienda.jedbangers.com.ar

  # BEGIN WordPress
  RewriteEngine On
  RewriteBase /
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.php [L]
  # END WordPress
</IfModule>

